/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */

.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */

header {
    height: 70px;
    background-color: black;
}

main {
    background-color: red;
    flex-grow: 1;
    overflow: auto;
}

footer {
    background-color: gray;
    height: 100px;
}