/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */

.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */

header {
    height: 100px;
    background-color: black;
    text-align: right;
}

header button {
    background-color: gray;
    color: white;
    padding: 1px 3px;
    border-radius: 5px;
}

.buttons {
    margin: 5px 5px;
}


/* Main */
main {
    background-color: black;
    flex-grow: 1;
    overflow: auto;
    text-align: center;
}

main figure {
    display: inline-block;
    position: relative;
}

.user-id {
    display: inline-block;
    color: white;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 5px 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
}











/* Footer */
footer {
    background-color: rgb(34, 34, 34);
    height: 90px;
}